
/RenderSequence
/TA_UE5/TechArt_Template/Saved
TA_Landscape/untitled.obj
TA_Landscape/untitled_High.obj
TA_UE5/TechArt_Template/Content/MAEOakForest/Maps/Showcase.umap
TA_UE5/TechArt_Template/Content/MAEOakForest/Maps/Map_Oak_Forest_A.umap
TA_Landscape/untitled.bgeo
TA_Trees/Tree_Textured.spp
TA_Trees/TreeFull.obj
TA_Trees/Trees_2.spp
TA_Trees/Trees_2_autosave_0.spp
TA_Trees/Trees_2_autosave_1.spp
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape_pass2.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_Trees/Tree_Textured_autosave_0.spp
TA_Trees/Tree_Textured_autosave_1.spp
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap
TA_UE5/TechArt_Template/Content/MyContent/Maps/lvl_Landscape.umap


TA-Houdini\TA_UE5\TechArt_Template\Packages*
/TA_UE5/TechArt_Template/Intermediate
/TA_UE5/TechArt_Template/Packages/Windows/Engine/Binaries/ThirdParty
/TA_UE5/TechArt_Template/Binaries
TA_UE5/TechArt_Template/Packages/TechArt_Template.zip
/TA_UE5/TechArt_Template/Packages
